.banner {

    border-top: 22px solid $mainBlue;
    border-bottom: 10px solid $charcoal;
    position: relative;
    background-color:$mainBlue; 


    &__image {
        display: block;
        padding-top:0;
        margin-top:30px;

        @mixin atSmall {
            margin-top:0;
        }
        }
    

   &__text-content {
       margin-top: 10px;
       padding-top: 10px;
       /* margin-top:-6.5px; */      
       transform: translateY(-50%);
       position: absolute;
       top: 50%;
       left: 0;
       width: 100%;
       text-align:center;
       /* padding: 1.5rem 0 0; */
       background-color: rgba(0,0,0, 0.6);

       @mixin atSmall {
           margin-top:0;
           padding-top: 30px;
       }

    

       @mixin atMedium {
           padding-top:40px;
       }

       @mixin atLarge{
           padding: 4rem 0 0;
       }

    }

    &__text-content-thanks {
        margin-top: 10px;
        padding-top: 10px;
        /* margin-top:-6.5px; */      
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align:center;
        /* padding: 1.5rem 0 0; */
        /* background-color: rgba(0,0,0, 0.6); */
 
        @mixin atSmall {
            margin-top:0;
            padding-top: 30px;
        }
 
     
 
        @mixin atMedium {
            padding-top:60px;
        }
 
        @mixin atLarge{
            padding: 4rem 0 0;
        }
 
     }
     
     
    
    
    &__title{
      color:#FFF;
      font-weight: 300;
      font-size: 1.7rem;
      display:inline-block;
      white-space:hidden;
      overflow:hidden;
      text-overflow:ellipsis;
      margin:0;
      text-shadow: 2px 2px 0 rgba(0,0,0,.1);
      padding: 3px 0 3px;
      border-top: 1px solid rgba(255,255,255,0.6);
      border-bottom: 1px solid rgba(255,255,255,0.6);
      
      @mixin atSmall {
          font-size: 2.3rem;
        }
        
        @mixin atMedium {
            font-size: 3.2rem;
      }

      @mixin atLarge {
        font-size: 4rem;
      }
   }

   &__subtitle{
    font-weight: 300;
    color:#FFF;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 5px;

    @mixin atSmall {
        font-size: 2.9rem;
    }

   }

   &__description{
    border: none;   
    color:$mainBlue;
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 2px 2px 0 rgba(0,0,0,.1);
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
        /* font-size: 1.3rem; */
    }

    @mixin atMedium {
        font-size: 1rem;
    }

    @mixin atLarge {
        font-size: 1.3rem;
    }


   }


   @mixin atSmall {
       font-size: 1.3rem;
       padding-top:28px;
   }

   @mixin atMedium {
       font-size: 1.8rem;
   }

   @mixin atLarge {
       font-size: 3rem;
   }
}