.generic-content-container {
    /* padding-top: 1em; */

    @mixin atMedium {
        margin-left: 1em;
    }

    &--ul-circle {
        list-style-type: circle;
    }
    p {
        line-height:1.65;
        /* font-weight:350; */
        margin: 1.3rem 0;

        @mixin atSmall {
            font-size: 1rem;
        }

        @mixin atMedium {
            font-size:1.1rem;
        }

        
       

      
    }


   

    p a {
        font-weight: 700;
    }

    ul{

        /* padding-left:0; */
       
        /* text-align: center; */
    }

    &--logo-img {
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 50%;

        @mixin atSmall {
            width:70%;
        }
    }

    li {
        /* list-style: none; */
        font-weight: 300;
        line-height:1.8;

        @mixin atSmall {
            line-height: 1.8;
        }

        @mixin atLarge {
            line-height: 3;

        }
    }
}