.generic-content-container {

    &--ul-circle {
        list-style-type: circle;
    }
    p {
        line-height:1.65;
        /* font-weight:350; */
        margin: 1.8rem ;

        @mixin atSmall {
            font-size: 1.125rem;
        }

        @mixin atLarge {
            font-size: 1.325rem;
        }
       

      
    }


   

    p a {
        font-weight: 700;
    }

    li {
        line-height: 1.5;
    }
}