.generic-content-container {
    /* padding-top: 1em; */

    /* &--org {
        max-width: 800px;
    } */

    @mixin atMedium {
        margin-left: 1em;
    }

    &--ul-circle {
        list-style-type: circle;
    }
    p {
        line-height:1.65;
        /* font-weight:350; */
        margin: 1.3rem 0;

        @mixin atSmall {
            font-size: 1rem;
        }

        @mixin atMedium {
            font-size:.85rem;
        }

        @mixin atLarge {
            font-size:1rem;
            line-height: 2.5em;
        }

        
       

      
    }


   

    p a {
        font-weight: 700;
    }

    ul{
        margin-left:18px;
 
        padding-bottom: 1em;
       
        /* text-align: center; */
    }

    &--logo-img {
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 50%;
        /* max-width: 280px; */
    }

    li {
        /* list-style: none; */
        /* float: left; */
        font-weight: 300;
        line-height:1.8;

        @mixin atSmall {
            line-height: 1.8;
        }
        @mixin atMedium {
            font-size:.8em;
        }

        @mixin atLarge {
            line-height: 3;
            font-size:1em;

        }
    }
}