.icons {
    max-width: 40px;
    background-color: $mainBlue;
    /* fill: $mainRed; */
    padding: 8px;
    border-width:thin;
    border-radius:10px;   

    &__bigger {
        padding: 6.5px;
    }

    &--circle{
        color:#fff;
        border-radius: 50%;
        margin: 0.15em;
        background-color:$dark;
        padding: 0.04em 0.3em;
        font-size: 2em;
        transition:all .3s ease-out;
    }

    &--circle:hover{
        background-color:$mainGrey;
    }

}