.members {
    background-color: rgba(255,255,255,.75);
    padding: 0 18px 0 18px;
    margin-bottom: 98px;
    line-height: 1.65rem;
    font-weight: 300;
    font-size: 1.2rem;
    

    @mixin atMedium {
        margin-bottom: 0;
        padding: 0 1.8rem 1px 1.8rem;
        margin-bottom: 98px;
        line-height: 2rem;
        font-size: 1.3rem;
        

    }

    &--last {
        /* margin-bottom: 0; */

    }

    &__photo {
        border-radius:80px;
        overflow: hidden;
        width:160px;
        height:160px;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
        border: 6px solid rgba(255,255,255,.75);
    }

    &__name {
        color: $charcoal;
        text-align: center;
        font-size:1.5rem;
        font-weight: 500;
        margin:0;
    }

    &__subtitle {
        color: $mainRed;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        margin: .3rem 0 1rem;
        /* text-shadow: 1px 1px 0 rgba(0,0,0,.5); */

        @mixin atMedium {
            font-size: 1.25rem;
        }
    }

}