.navbar {
    padding-top: 50px;
    padding-bottom: 10px;

    ul {

        width: 100%;
        margin:0 auto;
        padding: 0;

    }

    ul li {
        list-style:none;
        display: block;
        padding: 11px 0 11px 11px;
        text-align: center;
    }

    ul li a{
        text-decoration: none;
        border-radius: 5px;
        transition:all .3s ease-out;
    }
    
    ul li a:hover{
        background: $mainRed;
        color: $mainBlue;
        padding: 9px;
    }


    &__active {
        background: $mainRed;
        color: $mainBlue;
        padding: 9px;
    }

    &__toggle {
        display: block;
        width:100%;
        padding: 10px 20px;
        background: $mainBlue;
        text-align: right;
        color: $mainRed;
        font-size: 26px;
    }




    @mixin atMedium {
        background-color: rgba($mainBlue, 0);
        padding:0;
        float: right;

        &__toggle {
            display: none;
        }

        ul li {
 
            display : inline-block;
        }
    
        ul li a {
            padding: 9px;
            border-radius: 5px;
            transition:all .3s ease-out;
            
        }
    
       

    }

   
}
