.portfolio {
    background-color: rgba(255,255,255,1);
    padding:18px;
    margin-bottom: 28px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    /* line-height: 1.65rem; */
    font-weight: 300;
    font-size: 1.2rem;
    

    @mixin atMedium {


        &__half {
            display: block;
            width:49%;
            float:left;
            margin-bottom: 0;
            padding: 10px 1.8rem 10px 1.8rem;
            margin-bottom: 40px;
            line-height: 2rem;
            font-size: 1.3rem;          
            
        }

        &__second {
            margin-left:2%;
        }

    }


    &__gallery-thumb {
        margin-top:2px;
        text-align: left;

    }

    &__gallery-thumb img {
        max-width:23.8%;
        /* padding:5px; */
        /* border: 1px solid rgba(163,159,159,.5); */
        transition:1s;

        @mixin atSmall{
            max-width:24%;
        }

        @mixin atMedium {
            max-width:23.5%;
        }

        @mixin atLarge {
            max-width: 24%;
        }

    }

    &__gallery-thumb img:hover {
        cursor: pointer;
        transform:scale(1.1);
    }

    &__gallery-thumb a {
        text-decoration: none;
    }




    &__photo {
        border-radius:80px;
        overflow: hidden;
        width:160px;
        height:160px;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
        border: 6px solid rgba(255,255,255,.75);
    }

    &__name {
        text-transform: uppercase;
        color: $charcoal;
        text-align: center;
        font-size:1.3rem;
        font-weight: 400;
        margin:0;
        padding-bottom:5px;

        @mixin atMedium {
            /* font-size: 1.3em; */
            padding:0;
        }

    }

    &__subtitle {
        padding:0;
        color: $mainRed;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        margin: .3rem 0 1rem;

        @mixin atMedium {
            font-size: 1rem;
        }
    }
 
    &__description {
        color: $mainRed;
        font-size: 1rem;
        line-height: 1.2rem;
        @mixin atMedium {
        }
    }

}
   

