.primary-nav {
    
    &--pull-right {
        float: right;
    }

    ul {
        margin:0;
        padding:0;
        @mixin clearfix;
    }
    
    li{
        left: 50%;
        list-style: none;
        text-align: center;
        /* margin-right:-18px; */


        @mixin atMedium {
            float:left;
            padding-right:20px;


        }
    }

    &__active {
        background-color: $mainRed;
        color: #FFF;

    }

    a{  
        color: #FFF;
        font-weight: 300;
        text-decoration: none;
        text-shadow: 1px 1px 1px $mainRed;
        display:block;
        padding:15px 0;
        transition: all 0.4s, background-color 0.3s;

        @mixin atMedium {
            padding-left: 5px;
            padding-right: 5px;
        }

        @mixin atLarge {
            padding-left: 10px;
            padding-right: 10px;
        }


    }


    a:hover, a:active {
        background-color: $mainRed;
        color:#FFF;
        border-radius: 10px
    }

    

    /* a:hover, a:focus, a:active {
        color: #FFF;
        text-decoration: none;
    } */




}