.primary-nav {
    
    &--pull-right {
        float: right;
    }

    ul {
        /* position:relative; */
        margin:0;
        padding:0;
        @mixin clearfix;
    }
    
    li{

        list-style: none;
        text-align: center;
        /* margin-right:-18px; */
        /* left: 60%; */
        transform : translateX(5%) scale(1);
        transition:transform .3s ease-out;
        transform-origin: 50% 0%;



        @mixin atMedium {
            float:left;
            padding-right:15px;
            
            
        }
    }
    
    &__active {
        color: #FFF;
        border-bottom: 3px solid $mainRed;
     
        
    }
    
    a:hover, a:focus, a:active {
        color:#FFF;
        text-decoration:none;
    }

    a{
        transition: color 0.1s, background-color 0.1s;

    }

    a{  
        position:relative;
        display:block;
        padding:10px 0;
        font-weight: 400;
        text-decoration: none;
        /* text-shadow: 1px 1px 1px $mainRed; */
        text-transform:uppercase;
        transition: color 0.4s, background-color 0.3s padding 0.2s ease-in; 
        color: $mainRed;
        
        @mixin atMedium {
            padding-left: 5px;
            padding-right: 5px;
        }

        @mixin atLarge {
            padding-left: 10px;
            padding-right: 10px;
        }      

    }

    a::before {
        content:"";
        display:block;
        position: absolute;
        bottom: -2.5px;
        left:0;
        height:3px;
        width:100%;
        background-color: $mainRed;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s,transform 0.2s ease-out;

    }

    a:active::before {
        background-color: $mainRed;
    }

    a:hover::before, a:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }




}