.site-header {
    padding:35px;
    position:absolute;
    width: 100%;
    z-index: 2;
    transition: background-color .3s linear;
    /* background-color:$mainBlue; */
     

    &--is-expanded {
        background-color:$mainBlue; 
    }

    
    

    
    @mixin atMedium {
        padding:10px;
        background-color:rgba($mainBlue,.7);
    }

    &__btn-container {
        float: right;
    }

    &__logo {
        position:absolute;
        top:0;
        background-color: $mainBlue;
        padding: 5px;
        /* border-radius: 20px; */
        
        /* to center the logo */
        left: 50%;
        transform : translateX(-50%) scale(.8);
        transform-origin: 50% 0%;

        @mixin atMedium {
            left: auto;
            transform:translateX(0)
        }

    }


    &__menu-icon {
        width:40px;
        height: 35px;
        position: absolute;
        z-index: 10;
        top: 15px;
        right:35px;
        background-color: $mainRed;
        

        &__top {
            position: absolute;
            top:0;
            left:0;
            width:40px;
            height:5px;
            background-color:#FFF;
        }
        &__middle {
            position: absolute;
            top:15px;
            left:0;
            width:40px;
            height:5px;
            background-color:#FFF;
        }
        &__bottom {
            position: absolute;
            bottom:0;
            left:0;
            width:40px;
            height:5px;
            background-color:#FFF;
        }

        @mixin atMedium {
            display: none;
        }
    }




    &__menu-content {
        opacity:0;
        transform: scale(2);
        transition: all .3 ease-out;
        position: relative;
        z-index:-10;
        padding-top:55px;
        /* float: left; */
        left:-35%;
        /* text-align:center; */

        @mixin atMedium {
            left:0;
            opacity:1;
            z-index:1;
            padding-top:0;
            transform: scale(1);
        }

        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform:scale(1);
        }
    }
}